* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  background-image: linear-gradient(45deg, black, transparent);
}

/* Calculator Container */
#calculator {
  width: 400px;
  padding: 20px;
  border: 2px solid #232323;
  border-radius: 7px;
  background-color: #a7a7a7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Display Container */
.display {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #232323;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #d3d3d3;
}

.displaySum, .inputNum {
  overflow: hidden;
  text-align: right;
}

.displaySum {
  font-size: 1.2rem;
  height: 30px;
}

.inputNum {
  border: none;
  font-size: 2rem;
  height: 40px;
  background-color: #d3d3d3;
}


/* Nums And Operators */
.numsAndOperators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3%;
  row-gap: 8px;
}

/* Num */
.num {
  width: 22%;
  height: 60px;
  border: 2px solid #232323;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ffffff;
}
.num:hover {
  background-color: #d3d3d3;
}

.btnColor {
  background-color: #C8E087;
}
.btnColor:hover {
  background-color: #b5d362;
}
.btnColor[disabled] {
  background-color: #b5d362;
}

/* Clear and Delete Buttons */
.bigBtn {
  width: 48%;
}

.deleteBtn {
  background-color: #729cc7;
}
.deleteBtn:hover {
  background-color: #5b8ab9;
}

.clearBtn {
  background-color: #e5864f;
}
.clearBtn:hover {
  background-color: #cc6f39;
}
